.ErrorMessage {
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	color: #ff004c;
}

.ErrorMessage_position_profile {
	margin: 0;
	text-align: center;
}

.ErrorMessage_position_search {
	position: absolute;
	top: 70px;
}

.ErrorMessage_position_input-error {
	margin: 4px 0 3px 0;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
}

.ErrorMessage_position_submit-error {
	margin: 0;
}

@media screen and (max-width: 550px) {
	.ErrorMessage_position_search {
		width: 100%;
		text-align: center;
	}
}
