.Navigation__account-button {
	width: 100px;
	height: 32px;
	box-sizing: border-box;
	padding: 8px 10px;
	background-color: #ffffff;
	border: 2px solid rgba(170, 170, 170, 0.2);
	border-radius: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	transition: border-color 0.2s ease-in-out;
	color: #000000;
}

.Navigation__account-button_color_white {
	background-color: inherit;
	border: 2px solid #f5f5f5;
	color: #ffffff;
}

.Navigation__account-button_position_header {
	margin-left: 46px;
}

.Navigation__account-button:hover {
	opacity: 0.8;
}

.Navigation__account-icon {
	display: none;
	width: 12px;
	height: 14px;
}

.Navigation__account-icon_active {
	display: block;
}

.Navigation__account-text {
	margin-left: 7px;
}
